In [39]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [40]:
air = pd.read_csv('../data/air_quality/Air_Quality.csv')
# https://data.cityofnewyork.us/Environment/Air-Quality/c3uy-2p5r
cd = gpd.read_file('../data/shapefiles/nycd_22a/nycd.shp')

In [3]:
air['Name'].unique()

array(['Fine Particulate Matter (PM2.5)', 'Ozone (O3)',
       'Sulfur Dioxide (SO2)', 'Nitrogen Dioxide (NO2)',
       'PM2.5-Attributable Deaths',
       'Boiler Emissions- Total SO2 Emissions',
       'Boiler Emissions- Total PM2.5 Emissions',
       'Boiler Emissions- Total NOx Emissions',
       'Traffic Density- Annual Vehicle Miles Traveled',
       'Traffic Density- Annual Vehicle Miles Traveled for Cars',
       'Traffic Density- Annual Vehicle Miles Traveled for Trucks',
       'Air Toxics Concentrations- Average Benzene Concentrations',
       'Air Toxics Concentrations- Average Formaldehyde Concentrations',
       'PM2.5-Attributable Asthma Emergency Department Visits',
       'PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)',
       'O3-Attributable Cardiac and Respiratory Deaths',
       'PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)',
       'O3-Attributable Asthma Emergency Department Visits',
       'O3-Attributable Asthma Hospitalizations'], dtype=object)

In [4]:
air.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,333939,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Borough,1,Bronx,Winter 2014-15,12/01/2014,10.21,NaN
1,547354,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Borough,1,Bronx,Annual Average 2017,01/01/2017,7.72,NaN
2,605650,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Borough,1,Bronx,Winter 2017-18,12/01/2017,8.28,NaN
3,179503,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Borough,1,Bronx,Winter 2010-11,12/01/2010,13.85,NaN
4,179643,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,Borough,1,Bronx,Annual Average 2009,12/01/2008,11.05,NaN

In [5]:
air['Geo Type Name'].unique()

array(['Borough', 'UHF34', 'UHF42', 'CD', 'Citywide'], dtype=object)

In [6]:
# Limit to entries measured by CD

air = air[air['Geo Type Name'] == 'CD']

In [7]:
air.shape

(5133, 12)

In [8]:
# Create columns for CD and borough

air.rename(columns = {'Geo Join ID': 'CD'}, inplace=True)

#air['CD_num'] = air['Geo Place Name'].map(lambda x: x.split('CD')[-1][:-1])
air['borough'] = air['CD'].map(lambda x: int(str(x)[0]))

In [9]:
air.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,CD,Geo Place Name,Time Period,Start_Date,Data Value,Message,borough
253,169573,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Tottenville and Great Kills (CD3),Summer 2013,06/01/2013,9.13,NaN,5
254,170281,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Tottenville and Great Kills (CD3),Annual Average 2010,12/01/2009,8.75,NaN,5
259,547775,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Tottenville and Great Kills (CD3),Winter 2016-17,12/01/2016,6.87,NaN,5
260,606069,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Tottenville and Great Kills (CD3),Summer 2018,06/01/2018,7.36,NaN,5
261,168511,365,Fine Particulate Matter (PM2.5),Mean,mcg per cubic meter,CD,503,Tottenville and Great Kills (CD3),Winter 2009-10,12/01/2009,9.07,NaN,5

In [10]:
# How many unique community districts?
air['CD'].unique()

array([503, 502, 501, 414, 413, 412, 411, 410, 409, 408, 407, 406, 405,
       404, 403, 402, 401, 318, 317, 316, 315, 314, 313, 312, 311, 310,
       309, 308, 307, 306, 305, 304, 303, 302, 301, 212, 211, 210, 209,
       208, 207, 206, 205, 204, 203, 202, 201, 112, 111, 110, 109, 108,
       107, 106, 105, 104, 103, 102, 101])

In [11]:
air.drop(columns=['Unique ID', 'Indicator ID', 'Geo Type Name', 'Message'], inplace=True)

### Determine which time periods to use

In [12]:
## Fine particulate matter geo category breakdown and times measured
fpm = air[air['Name'] == 'Fine Particulate Matter (PM2.5)']
fpm.groupby('Time Period').count()

,Name,Measure,Measure Info,CD,Geo Place Name,Start_Date,Data Value,borough
Time Period,,,,,,,,
Annual Average 2009,59,59,59,59,59,59,59,59
Annual Average 2010,59,59,59,59,59,59,59,59
Annual Average 2011,59,59,59,59,59,59,59,59
Annual Average 2012,59,59,59,59,59,59,59,59
Annual Average 2013,59,59,59,59,59,59,59,59
Annual Average 2014,59,59,59,59,59,59,59,59
Annual Average 2015,59,59,59,59,59,59,59,59
Annual Average 2016,59,59,59,59,59,59,59,59
Annual Average 2017,59,59,59,59,59,59,59,59
Annual Average 2018,59,59,59,59,59,59,59,59
Summer 2009,59,59,59,59,59,59,59,59
Summer 2010,59,59,59,59,59,59,59,59
Summer 2011,59,59,59,59,59,59,59,59
Summer 2012,59,59,59,59,59,59,59,59
Summer 2013,59,59,59,59,59,59,59,59
Summer 2014,59,59,59,59,59,59,59,59
Summer 2015,59,59,59,59,59,59,59,59
Summer 2016,59,59,59,59,59,59,59,59
Summer 2017,59,59,59,59,59,59,59,59
Summer 2018,59,59,59,59,59,59,59,59
Winter 2008-09,59,59,59,59,59,59,59,59
Winter 2009-10,59,59,59,59,59,59,59,59
Winter 2010-11,59,59,59,59,59,59,59,59
Winter 2011-12,59,59,59,59,59,59,59,59
Winter 2012-13,59,59,59,59,59,59,59,59
Winter 2013-14,59,59,59,59,59,59,59,59
Winter 2014-15,59,59,59,59,59,59,59,59
Winter 2015-16,59,59,59,59,59,59,59,59
Winter 2016-17,59,59,59,59,59,59,59,59
Winter 2017-18,59,59,59,59,59,59,59,59

In [13]:
## Traffic density geo category breakdown and times measured 
traffic_density = air[air['Name'] == 'Traffic Density- Annual Vehicle Miles Traveled']
traffic_density.groupby('Time Period').count()

,Name,Measure,Measure Info,CD,Geo Place Name,Start_Date,Data Value,borough
Time Period,,,,,,,,
2005,59,59,59,59,59,59,59,59
2016,59,59,59,59,59,59,59,59

In [14]:
# Nitrogen dioxide geo category breakdown and times measured
NO2 = air[air['Name'] == 'Nitrogen Dioxide (NO2)']
NO2.groupby('Time Period').count()

,Name,Measure,Measure Info,CD,Geo Place Name,Start_Date,Data Value,borough
Time Period,,,,,,,,
Annual Average 2009,59,59,59,59,59,59,59,59
Annual Average 2010,59,59,59,59,59,59,59,59
Annual Average 2011,59,59,59,59,59,59,59,59
Annual Average 2012,59,59,59,59,59,59,59,59
Annual Average 2013,59,59,59,59,59,59,59,59
Annual Average 2014,59,59,59,59,59,59,59,59
Annual Average 2015,59,59,59,59,59,59,59,59
Annual Average 2016,59,59,59,59,59,59,59,59
Annual Average 2017,59,59,59,59,59,59,59,59
Annual Average 2018,59,59,59,59,59,59,59,59
Summer 2009,59,59,59,59,59,59,59,59
Summer 2010,59,59,59,59,59,59,59,59
Summer 2011,59,59,59,59,59,59,59,59
Summer 2012,59,59,59,59,59,59,59,59
Summer 2013,59,59,59,59,59,59,59,59
Summer 2014,59,59,59,59,59,59,59,59
Summer 2015,59,59,59,59,59,59,59,59
Summer 2016,59,59,59,59,59,59,59,59
Summer 2017,59,59,59,59,59,59,59,59
Summer 2018,59,59,59,59,59,59,59,59
Winter 2008-09,59,59,59,59,59,59,59,59
Winter 2009-10,59,59,59,59,59,59,59,59
Winter 2010-11,59,59,59,59,59,59,59,59
Winter 2011-12,59,59,59,59,59,59,59,59
Winter 2012-13,59,59,59,59,59,59,59,59
Winter 2013-14,59,59,59,59,59,59,59,59
Winter 2014-15,59,59,59,59,59,59,59,59
Winter 2015-16,59,59,59,59,59,59,59,59
Winter 2016-17,59,59,59,59,59,59,59,59
Winter 2017-18,59,59,59,59,59,59,59,59

In [15]:
ozone = air[air['Name'] == 'Ozone (O3)']
ozone.groupby('Time Period').count()

,Name,Measure,Measure Info,CD,Geo Place Name,Start_Date,Data Value,borough
Time Period,,,,,,,,
2-Year Summer Average 2009-2010,59,59,59,59,59,59,59,59
Summer 2009,59,59,59,59,59,59,59,59
Summer 2010,59,59,59,59,59,59,59,59
Summer 2011,59,59,59,59,59,59,59,59
Summer 2012,59,59,59,59,59,59,59,59
Summer 2013,59,59,59,59,59,59,59,59
Summer 2014,59,59,59,59,59,59,59,59
Summer 2015,59,59,59,59,59,59,59,59
Summer 2016,59,59,59,59,59,59,59,59
Summer 2017,59,59,59,59,59,59,59,59
Summer 2018,59,59,59,59,59,59,59,59

In [16]:
SO2 = air[air['Name'] == 'Sulfur Dioxide (SO2)']
SO2.groupby('Time Period').count()

,Name,Measure,Measure Info,CD,Geo Place Name,Start_Date,Data Value,borough
Time Period,,,,,,,,
Winter 2008-09,59,59,59,59,59,59,59,59
Winter 2009-10,59,59,59,59,59,59,59,59
Winter 2010-11,59,59,59,59,59,59,59,59
Winter 2011-12,59,59,59,59,59,59,59,59
Winter 2012-13,59,59,59,59,59,59,59,59
Winter 2013-14,59,59,59,59,59,59,59,59
Winter 2014-15,59,59,59,59,59,59,59,59
Winter 2015-16,59,59,59,59,59,59,59,59

In [17]:
air['Name'].value_counts()

Fine Particulate Matter (PM2.5)                                   1770
Nitrogen Dioxide (NO2)                                            1770
Ozone (O3)                                                         649
Sulfur Dioxide (SO2)                                               472
Traffic Density- Annual Vehicle Miles Traveled                     118
Traffic Density- Annual Vehicle Miles Traveled for Cars            118
Traffic Density- Annual Vehicle Miles Traveled for Trucks          118
Air Toxics Concentrations- Average Benzene Concentrations           59
Air Toxics Concentrations- Average Formaldehyde Concentrations      59
Name: Name, dtype: int64

In [18]:
# Remove air toxics concentrations, change name to df

df = air[~air['Name'].str.contains('Toxics', regex=False)].copy()

In [19]:
df[['CD', 'Geo Place Name']]
cd_dict = {}
for x in df['CD'].unique():
    first = df[df['CD'] == x].index[0]
    cd_dict[x] = df.loc[first, 'Geo Place Name']

## Create df with specific measured values at diff times for each CD

In [20]:
# rename measures
name_dict = {
    'Fine Particulate Matter (PM2.5)': 'FPM',
    'Nitrogen Dioxide (NO2)': 'NO2',
    'Ozone (O3)': 'O3',
    'Sulfur Dioxide (SO2)': 'SO2',
    'Traffic Density- Annual Vehicle Miles Traveled': 'TrafficDens_Vehicle',
    'Traffic Density- Annual Vehicle Miles Traveled for Cars': 'TrafficDens_Car',
    'Traffic Density- Annual Vehicle Miles Traveled for Trucks': 'TrafficDens_Truck'}
df['Name'] = df['Name'].map(name_dict)

In [21]:
# change start date to datetime
# df['Start_Date'] = pd.to_datetime(df['Start_Date'])

# Create column combining time period and measure name 
df['Date_Name'] = df['Time Period'].map(lambda x: ' '.join(x.split(' ')[::-1])) + '_' + df['Name']
df.head()

,Name,Measure,Measure Info,CD,Geo Place Name,Time Period,Start_Date,Data Value,borough,Date_Name
253,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Summer 2013,06/01/2013,9.13,5,2013 Summer_FPM
254,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Annual Average 2010,12/01/2009,8.75,5,2010 Average Annual_FPM
259,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Winter 2016-17,12/01/2016,6.87,5,2016-17 Winter_FPM
260,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Summer 2018,06/01/2018,7.36,5,2018 Summer_FPM
261,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Winter 2009-10,12/01/2009,9.07,5,2009-10 Winter_FPM

In [22]:
# Drop rows with unwanted (redundant) start dates
ind1 = df[df['Name'] == 'NO2'].loc[df['Time Period'].str.startswith('Annual')].index # annual NO2
ind2 = df[df['Name'] == 'FPM'].loc[df['Time Period'].str.startswith('Annual')].index # annual FMP
ind3 = df[df['Name'] == 'O3'].loc[df['Time Period'].str.startswith('2-y')].index # two-year O2

ind_to_drop = ind1.append(ind2).append(ind3)
df.drop(ind_to_drop, inplace=True)

In [23]:
df.head()

,Name,Measure,Measure Info,CD,Geo Place Name,Time Period,Start_Date,Data Value,borough,Date_Name
253,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Summer 2013,06/01/2013,9.13,5,2013 Summer_FPM
259,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Winter 2016-17,12/01/2016,6.87,5,2016-17 Winter_FPM
260,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Summer 2018,06/01/2018,7.36,5,2018 Summer_FPM
261,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Winter 2009-10,12/01/2009,9.07,5,2009-10 Winter_FPM
262,FPM,Mean,mcg per cubic meter,503,Tottenville and Great Kills (CD3),Winter 2012-13,12/01/2012,9.60,5,2012-13 Winter_FPM

In [24]:
df['CD'].dtype

dtype('int64')

In [25]:
len(df['CD'].unique())

59

In [26]:
# Create a separate dataframe for each community district

dfs = []

for x in df['CD'].unique():
    cd_df = df[df['CD'] == x].copy()[['Date_Name', 'Data Value']]
    cd_df.set_index('Date_Name', inplace=True)
    cd_df.rename(columns={'Data Value': x}, inplace=True)
    dfs.append(cd_df)

In [27]:
#[df.shape for df in dfs]

In [28]:
[x for x in dfs[0].index if x not in dfs[1].index]

[]

In [29]:
[x for x in dfs[1].index if x not in dfs[0].index]

[]

In [30]:
# Merge individual dataframes

air_qual = dfs[0]

for i in range(1,59):
    air_qual = pd.merge(air_qual, dfs[i], left_on='Date_Name', right_on='Date_Name')

In [31]:
air_qual.shape

(65, 59)

In [32]:
air_qual = air_qual.T
air_qual['CD_Name'] = air_qual.index.map(cd_dict)
air_qual.head()

Date_Name,2013 Summer_FPM,2016-17 Winter_FPM,2018 Summer_FPM,2009-10 Winter_FPM,2012-13 Winter_FPM,2009 Summer_FPM,2010 Summer_FPM,2010-11 Winter_FPM,2015 Summer_FPM,2014-15 Winter_FPM,...,2015 Summer_O3,2017 Summer_O3,2009-2010 Average Summer 2-Year_O3,2005_TrafficDens_Vehicle,2016_TrafficDens_Vehicle,2016_TrafficDens_Car,2005_TrafficDens_Car,2016_TrafficDens_Truck,2005_TrafficDens_Truck,CD_Name
503,9.13,6.87,7.36,9.07,9.60,10.39,11.27,11.52,8.44,8.06,...,34.09,28.81,30.23,6.3,6.5,6.3,5.9,0.2,0.4,Tottenville and Great Kills (CD3)
502,9.41,7.17,7.62,9.02,9.76,10.56,11.51,11.65,8.77,8.51,...,32.47,28.74,30.45,12.5,11.8,11.1,11.7,0.6,0.7,South Beach and Willowbrook (CD2)
501,9.47,7.23,7.65,9.15,9.85,10.58,11.57,11.97,8.91,8.72,...,30.39,27.50,28.99,12.8,11.3,10.7,12.1,0.5,0.6,St. George and Stapleton (CD1)
414,9.44,7.29,7.75,7.94,9.23,9.60,10.74,10.28,8.28,7.39,...,37.54,35.30,30.55,5.3,6.9,6.8,5.1,0.2,0.2,Rockaway and Broad Channel (CD14)
413,9.77,7.72,8.07,8.86,9.29,9.67,10.99,11.43,8.76,8.23,...,32.64,31.85,28.70,30.4,30.8,30.1,29.7,0.6,0.6,Queens Village (CD13)

In [33]:
sorted(air_qual.columns)

['2005_TrafficDens_Car',
 '2005_TrafficDens_Truck',
 '2005_TrafficDens_Vehicle',
 '2008-09 Winter_FPM',
 '2008-09 Winter_NO2',
 '2008-09 Winter_SO2',
 '2009 Summer_FPM',
 '2009 Summer_NO2',
 '2009 Summer_O3',
 '2009-10 Winter_FPM',
 '2009-10 Winter_NO2',
 '2009-10 Winter_SO2',
 '2009-2010 Average Summer 2-Year_O3',
 '2010 Summer_FPM',
 '2010 Summer_NO2',
 '2010 Summer_O3',
 '2010-11 Winter_FPM',
 '2010-11 Winter_NO2',
 '2010-11 Winter_SO2',
 '2011 Summer_FPM',
 '2011 Summer_NO2',
 '2011 Summer_O3',
 '2011-12 Winter_FPM',
 '2011-12 Winter_NO2',
 '2011-12 Winter_SO2',
 '2012 Summer_FPM',
 '2012 Summer_NO2',
 '2012 Summer_O3',
 '2012-13 Winter_FPM',
 '2012-13 Winter_NO2',
 '2012-13 Winter_SO2',
 '2013 Summer_FPM',
 '2013 Summer_NO2',
 '2013 Summer_O3',
 '2013-14 Winter_FPM',
 '2013-14 Winter_NO2',
 '2013-14 Winter_SO2',
 '2014 Summer_FPM',
 '2014 Summer_NO2',
 '2014 Summer_O3',
 '2014-15 Winter_FPM',
 '2014-15 Winter_NO2',
 '2014-15 Winter_SO2',
 '2015 Summer_FPM',
 '2015 Summer_NO2',
 '2015 Summer_O3',
 '2015-16 Winter_FPM',
 '2015-16 Winter_NO2',
 '2015-16 Winter_SO2',
 '2016 Summer_FPM',
 '2016 Summer_NO2',
 '2016 Summer_O3',
 '2016-17 Winter_FPM',
 '2016-17 Winter_NO2',
 '2016_TrafficDens_Car',
 '2016_TrafficDens_Truck',
 '2016_TrafficDens_Vehicle',
 '2017 Summer_FPM',
 '2017 Summer_NO2',
 '2017 Summer_O3',
 '2017-18 Winter_FPM',
 '2017-18 Winter_NO2',
 '2018 Summer_FPM',
 '2018 Summer_NO2',
 '2018 Summer_O3',
 'CD_Name']

In [34]:
# Drop redundant column
air_qual.drop(columns='2009-2010 Average Summer 2-Year_O3', inplace=True)

# Drop measurements from after Summer 2017
air_qual.drop(columns=['2017-18 Winter_FPM',
 '2017-18 Winter_NO2',
 '2018 Summer_FPM',
 '2018 Summer_NO2',
 '2018 Summer_O3'], inplace=True)

In [35]:
# Create features indicating pct overall change
# Traffic Density
air_qual['TD_Car_05-16Chg'] = (air_qual['2016_TrafficDens_Car'] - air_qual['2005_TrafficDens_Car']) / air_qual['2005_TrafficDens_Car']
air_qual['TD_Truck_05-16Chg'] = (air_qual['2016_TrafficDens_Truck'] - air_qual['2005_TrafficDens_Truck']) / air_qual['2005_TrafficDens_Truck']
air_qual['TD_Vehicle_05-16Chg'] = (air_qual['2016_TrafficDens_Vehicle'] - air_qual['2005_TrafficDens_Vehicle']) / air_qual['2005_TrafficDens_Vehicle']
# FPM
air_qual['Summ_FPM_09-17Chg'] = (air_qual['2017 Summer_FPM'] - air_qual['2009 Summer_FPM']) / air_qual['2009 Summer_FPM']
air_qual['Wint_FPM_09-17Chg'] = (air_qual['2016-17 Winter_FPM'] - air_qual['2008-09 Winter_FPM']) / air_qual['2008-09 Winter_FPM']
# NO2
air_qual['Summ_NO2_09-17Chg'] = (air_qual['2017 Summer_NO2'] - air_qual['2009 Summer_NO2']) / air_qual['2009 Summer_NO2']
air_qual['Wint_NO2_09-17Chg'] = (air_qual['2016-17 Winter_NO2'] - air_qual['2008-09 Winter_NO2']) / air_qual['2008-09 Winter_NO2']
# SO2
air_qual['SO2_09-16Chg'] = (air_qual['2015-16 Winter_SO2'] - air_qual['2008-09 Winter_SO2']) / air_qual['2008-09 Winter_SO2']
# O3
air_qual['O3_09-17Chg'] = (air_qual['2017 Summer_O3'] - air_qual['2009 Summer_O3']) / air_qual['2009 Summer_O3']

In [36]:
air_qual.shape

(59, 69)

In [68]:
# Add geometry for Tableau

def rename_cols(col):
    return col.replace('Summer', 'S').replace('Winter', 'W').replace(' ', '').replace('20', '').replace('TrafficDens', 'TD')


airqual_geom = gpd.GeoDataFrame(air_qual).sort_index()
cd.set_index('BoroCD', inplace=True)
cd.sort_index(inplace=True)
airqual_geom['geometry'] = cd['geometry']
airqual_geom.rename(columns=rename_cols, inplace=True)
airqual_geom.to_file('../data/air_quality/air_qual_gdf.shp')

/var/folders/by/f27ws03s62v8tb7315j3kxm80000gn/T/ipykernel_40425/3845585784.py:12: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  airqual_geom.to_file('../data/air_quality/air_qual_gdf.shp')

In [71]:
airqual_geom.columns

Index(['13S_FPM', '16-17W_FPM', '09-10W_FPM', '12-13W_FPM', '09S_FPM',
       '10S_FPM', '10-11W_FPM', '15S_FPM', '14-15W_FPM', '15-16W_FPM',
       '11-12W_FPM', '12S_FPM', '16S_FPM', '17S_FPM', '08-09W_FPM', '11S_FPM',
       '13-14W_FPM', '14S_FPM', '11S_NO2', '13-14W_NO2', '17S_NO2', '14S_NO2',
       '16S_NO2', '08-09W_NO2', '12-13W_NO2', '09S_NO2', '11-12W_NO2',
       '12S_NO2', '14-15W_NO2', '15-16W_NO2', '16-17W_NO2', '09-10W_NO2',
       '10-11W_NO2', '10S_NO2', '13S_NO2', '15S_NO2', '10-11W_SO2',
       '11-12W_SO2', '08-09W_SO2', '12-13W_SO2', '13-14W_SO2', '14-15W_SO2',
       '15-16W_SO2', '09-10W_SO2', '09S_O3', '13S_O3', '11S_O3', '14S_O3',
       '16S_O3', '10S_O3', '12S_O3', '15S_O3', '17S_O3', '05_TD_Vehicle',
       '16_TD_Vehicle', '16_TD_Car', '05_TD_Car', '16_TD_Truck', '05_TD_Truck',
       'CD_Name', 'TD_Car_05-16Chg', 'TD_Truck_05-16Chg',
       'TD_Vehicle_05-16Chg', 'Summ_FPM_09-17Chg', 'Wint_FPM_09-17Chg',
       'Summ_NO2_09-17Chg', 'Wint_NO2_09-17Chg', 'SO2_09-16Chg', 'O3_09-17Chg',
       'geometry'],
      dtype='object', name='Date_Name')